.projects {
    @media (min-width: $desktop-width) {
        width: 1152px;
    }
}

.projects-headline {
    width: 323px;
    margin: 0 auto 21px auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: $desktop-width) {
        width: 500px;
        margin: 0 0 12px 0;
    }
}

.projects-list__item {
    position: relative;
    flex-wrap: wrap;
    margin: 0 0 8px 0;
    padding: 19px 0 0 0;

    border-radius: 15px;
    background-color: $color-white;
    box-shadow: 10px 10px 10px $rgba-grey, 10px 10px 15px $rgba-dark-grey;

    @media (min-width: $desktop-width) {
        justify-content: space-between;
        margin: 0 0 12px 0;
        padding: 11px 31px;
        box-shadow: 10px 10px 15px $rgba-dark-grey;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    .projects-list__name {
        width: 295px;
        margin: 0 auto;

        @media (min-width: $desktop-width) {
            width: 320px;
            margin: 0;
        }
    }

    .shown-name {
        width: 295px;
        height: 17px;
        margin: 5px 0 0 30px;

        @media (min-width: $desktop-width) {
            position: absolute;
            left: 380px;
            margin: 0;
        }
    }

    .persons-list {
        position: absolute;
        z-index: 1;
        margin: 0;
        top: 104%;
        left: 0;

        width: 355px;
        padding: 24px 0 23px 0;
        background-color: $color-white;
        border-radius: 15px;
        box-shadow: 10px 10px 15px $rgba-dark-grey;

        @media (min-width: $desktop-width) {
            width: 342px;
            left: 680px;
            top: 42px;
        }

        .persons-list__item {
            .persons-list__label {
                @extend %flex-space;
                padding: 5px 25px 5px 33px;

                &:hover {
                    background-color: $rgba-grey;
                }

                &:active {
                    .persons-list__name {
                        color: $bg-blue;
                    }

                    .persons-list__box {
                        border-color: $bg-blue;
                    }
                }

                .persons-list__name {
                    margin: 5px 0 0 0;
                }

                .persons-list__box {
                    position: relative;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    border: 1px solid $bg-grey-BA;
                }

                .persons-list__input:checked + .persons-list__box {
                    &::after {
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 20px;

                        top: 3px;
                        left: 3px;

                        border-radius: 50%;
                        background-color: $bg-light-green;
                    }
                }

                .persons-list__input[type="checkbox"] + .persons-list__box {
                    border-radius: 5px;
                }

                .persons-list__input[type="checkbox"]:checked + .persons-list__box {
                    background-color: $rgba-green;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-image: url("../img/green-arrow.png");

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    @media (min-width: $desktop-width) {
        #EditorsList .persons-list {
            left: 720px;
        }

        #ReadersList .persons-list {
            left: 760px;
        }
    }

    .projects-buttons {
        @extend %flex-space;
        width: 100%;
        height: 56px;
        padding: 17px 31px 18px 34px;
        order: 1;

        background-color: $light-blue;
        border-radius: 0px 0px 15px 15px;

        @media (min-width: $desktop-width) {
            width: 78px;
            height: 20px;
            padding: 0;
            order: 0;
            border-radius: 0;
            background-color: inherit;
        }
    }

    .projects-list__button {
        position: relative;
        padding: 0;
        border: none;
        background-color: inherit;

        &::before {
            display: none;
            position: absolute;
            content: "Выбрать руководителя";
            z-index: 1;
            width: 355px;
            height: 54px;
            padding: 17px 20px;

            top: -14px;
            left: -34px;

            color: $bg-grey;
            font-size: 16px;
            line-height: 20px;
            border-radius: 0 0 15px 15px;
            background-color: $color-white;
            box-shadow: 10px 10px 10px $rgba-grey;
            background-image: inherit;
            background-repeat: no-repeat;
            background-position: 20px 16px;

            @media (min-width: $desktop-width) {
                text-align: center;
                width: 248px;
                height: 47px;
                padding: 4px 0 0 0;

                top: -42px;
                left: -204px;

                font-size: 14px;
                line-height: 17px;
                box-shadow: none;
                border-radius: 0;
                background-color: transparent;
                background-position: 0 0;
                background-image: url("../img/comment.png");
            }
        }

        &:hover {
            &::before {
                display: none;

                @media (min-width: $desktop-width) {
                    display: block;
                }
            }
        }
    }

    .active-button {
        &:hover {
            &::before {
                display: block;
            }
        }
        &::before {
            display: block;

            @media (min-width: $desktop-width) {
                display: none;
            }
        }
    }

    .projects-list__leader {
        width: 21px;
        height: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../img/leader.png");

        &:hover {
            background-image: url("../img/leader-hvr.png");
        }

        &:active,
        &:focus {
            background-position: 0 0;
            background-image: url("../img/leader-act.png");
        }
    }

    .projects-list__editor {
        width: 21px;
        height: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../img/editor.png");

        &:hover {
            background-image: url("../img/editor-hvr.png");
        }

        &::before {
            left: -169px;
            content: "Выбрать редактора";

            @media (min-width: $desktop-width) {
                left: -200px;
            }
        }

        &:active,
        &:focus {
            background-image: url("../img/editor-act.png");
        }
    }

    .projects-list__reader {
        width: 21px;
        height: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url("../img/reader.png");

        &:hover {
            background-position: 0 0;
            background-image: url("../img/reader-hvr.png");
        }

        &::before {
            left: -303px;
            content: "Доступ для чтения";

            @media (min-width: $desktop-width) {
                left: -204px;
            }
        }

        &:active,
        &:focus {
            background-image: url("../img/reader-act.png");
        }
    }
}

.files-list {
    margin: 18px 0 16px 30px;
    padding: 0;

    @media (min-width: $desktop-width) {
        margin: 13px 850px 0 0;
    }

    .files-list__item {
        margin: 0 0 8px 0;

        &:last-of-type {
            margin: 0;
        }

        .file {
            color: $bg-blue;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:active,
            &:focus {
                color: $bg-violet;
            }

            &:visited {
                text-decoration: none;
            }
        }
    }
}
